.SelectList {
    background-color: lightgray;
    height: 100px;
}

.Select {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
}
.Open {
    height: auto;
}